/* MESSAGES */
.chatbox__messages {
    padding: 0 20px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: transparent transparent;
    /* For Firefox */
    flex-grow: 1;
}

.chatbox__messages::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.chatbox__messages:hover::-webkit-scrollbar {
    width: 8px;
    /* Show scrollbar on hover */
    background: #f1f1f1;
    /* Optional: scrollbar background */
}

.chatbox__messages:hover::-webkit-scrollbar-thumb {
    background: #888;
    /* Optional: scrollbar thumb color */
}

.chatbox__messages:hover::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Optional: scrollbar thumb hover color */
}

.messages__item {
    margin-top: 10px;
    padding: 8px 12px;
    max-width: 70%;
    border-radius: 20px;
}

.messages__item_visitor {
    background: #060f12;
    align-self: flex-end;
    color: white;
}

.messages__item-visitor,
.messages__item-typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item_operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #c6302c;
    color: white;
    align-self: flex-start;
}