/* page.module.css */

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items from the top */
  align-items: center;
  padding: 0; /* Remove padding */
  min-height: 100vh;
}

.image-container-home {
  position: relative;
  width: 500px; /* Adjust the size as needed */
  height: 440px; /* Adjust the size as needed */
  margin-top: 0; /* Ensure no margin-top */
}

.image-container-complain {
  position: relative;
  width: 370px; /* Adjust the size as needed */
  height: 1000px; /* Adjust the size as needed */
  margin-top: 0; /* Ensure no margin-top */
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  margin-top: 0; /* Ensure no margin-top */
}

.button {
  margin: 0; /* Ensure no margin */
}
